/OrLogicWithSwitch.class
/SwitchRules.class
/Task32.class
/Task33.class
/Task34.class
/TernaryConditional.class
/ifElseIfElse.class
/ifElseIfElse_Part2.class
/nestedIfStatement.class
/nestedIf_biggestnumber.class
/scoresFromOZHAN.class
/smallTasks2.class
/switchCaseStatement.class
/task36_Calculator.class
/task37_laptopModels.class
/task38Days.class
/task39_trafficLights.class
/testTestKitap.class
