/ForLoop.class
/Taask42_sumOdd_sumEven.class
/Task40_Ternary.class
/Task43_NumberSquared.class
/Task44_MPH_KPHconverter.class
/Task45_GreaterNumbersRepetition.class
/Task46_MultiplicationTable.class
/ternaryOperators.class
