/Task24.class
/ifElse_Task1.class
/ifElse_Task29biggerNumber.class
/ifElse_Task30evenOddnumber.class
/ifElse_Task31triangleAngles.class
/ifElse_statement.class
/ifStatements.class
/newv.class
/task1.class
/task2.class
/task25_greatestNumber.class
/task26_equalNumbers.class
/task27_Greeting.class
/task28_Revenue.class
/task3.class
/task4.class
/task5.class
/variation.class
