/String_Manipulation.class
/Task10_secondWord.class
/Task11_firstWordLastWord.class
/Task12_Swapthecharacter.class
/Task1_String1.class
/Task2_googleSearch.class
/Task3_Initials.class
/Task4_firstLastAndMiddleCharacter.class
/Task5_prefixDrMrMrs.class
/Task6_nameAndEmail.class
/Task7_seperateTheEmailAdress.class
/Task8_EnterASentence.class
/Task9_validUrl.class
